#site-header {
  position: relative;
  background: var(--tertiary-color);
  min-height: 75vh;
  padding-bottom: var(--header-inner-padding-bottom-desktop);
}

.header-inner {
  position: relative;
  display: flex;
  min-height: 68vh;
  padding-top: var(--header-inner-padding-top-desktop);
}

.header-inner-left-side {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 999;
}

.header-inner-left-side__scew {
  position: absolute;
  height: calc(100% + 1px);
  width: 65%;
  top: -1px;
  right: calc(-65% + 1px);
}

.header-logo-container {
  position: relative;
  margin-left: 100px;
  z-index: 2;
}

.header-logo-container a {
  display: block;
}

.header__logo {
  display: block;
  width: calc(var(--index) * 15);
  max-width: 365px;
}

.header__company-name {
  display: block;
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.header-inner-right-side {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  background-image: url("../img/header-background.jpg");
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.header-inner-right-side::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: var(--tertiary-color);
  opacity: 0.6;
  z-index: 2;
}

.header__site-description {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 3;
}

.header__site-description span {
  display: block;
  font-size: calc(14px + 0.8vw);
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(238, 238, 238);
  max-width: 1325px;
  text-shadow: 0 0 10px rgb(48, 48, 48);
  margin-right: calc(var(--index) * 1);
  margin-left: calc(var(--index) * 10);
}

.header-nav-container {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 64px;
  padding: 15px 0 15px 0;
  background: var(--tertiary-color);
  transition: min-height 0.5s;
  z-index: 9999;
}

.header-nav-container.scrolled {
  min-height: 80px;
  transition: min-height 0.5s;
}

.header-nav-container.scrolled .nav__item,
.header-nav-container.scrolled .header__telephone span {
  font-size: calc(15px + 0.35vw);
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  flex-grow: 0.5;
}

.nav__item {
  display: block;
  font-size: calc(15px + 0.3vw);
  font-weight: 400;
  color: var(--nav-font-color);
  padding: 5px 10px;
  border: 1px solid transparent;
  transition: var(--nav-transition);
}

.nav__item:hover {
  color: var(--nav-font-color-hover);
  border: 1px solid var(--nav-font-border-color);
  transition: 0.25s ease-out;
}

.nav__item.active {
  color: var(--nav-font-color-hover);
}

.header__telephone {
  position: relative;
  flex-grow: 0;
}

.header__telephone span {
  font-size: calc(15px + 0.3vw);
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  transition: var(--nav-transition);
}

.header__telephone span:hover {
  color: var(--nav-font-color-hover);
  transition: 0.25s ease-out;
}

.header__telephone span::before {
  content: "";
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  left: -36px;
  top: -5px;
  background: url("../img/telephone-icon-32x32.svg");
  background-position: center;
  background-size: cover;
  background-size: 32px;
  background-repeat: no-repeat;
  animation: 1.2s infinite telephone;
}

@keyframes telephone {
  0% {
    background-size: 32px;
  }

  50% {
    background-size: 28px;
  }

  100% {
    background-size: 32px;
  }
}
