:root {
  --index: calc(1vh + 1vw);
  --primary-color: #f5ebe2;
  --secondary-color: #f5f5f5;
  --tertiary-color: rgb(39, 39, 39);
  --primary-font-color: rgb(206, 206, 206);
  --secondary-font-color: rgb(39, 39, 39);
  --nav-font-color: #fff;
  --nav-font-color-hover: rgb(141 132 16);
  --nav-font-border-color: rgb(107, 100, 0);
  --nav-transition: 0.5s ease;
  --btn-transition: 0.35s ease;
  --btn-bg-color: rgb(165 115 54);
  --header-inner-padding-top-desktop: 64px;
  --header-inner-padding-top-mobile: 80px;
  --header-inner-padding-bottom-desktop: 80px;
  --header-inner-padding-bottom-mobile: 50px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.page-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

h1.page-title {
  font-size: calc(22px + 1vw);
  font-weight: 600;
  /* padding: 20px 0; */
  padding-top: 40px;
  text-align: center;
  background: var(--primary-color);
}

/* h2 {
  margin: 20px 0;
  text-align: center;
} */

.section-title {
  font-size: calc(15px + 1vw);
  font-weight: 600;
  color: var(--secondary-font-color);
  margin-bottom: 80px;
  text-align: center;
}

.container {
  margin: 0 auto;
  /* max-width: 1920px; */
}

main.page-content {
}

.page-section {
  position: relative;
  padding: 100px 0;
}
