:root {
  --index: calc(1vh + 1vw);
  --primary-color: #f5ebe2;
  --secondary-color: #efefef;
  --tertiary-color: rgb(39, 39, 39);
  --primary-font-color: rgb(206, 206, 206);
  --secondary-font-color: rgb(39, 39, 39);
  --nav-font-color: #fff;
  --nav-font-color-hover: rgb(141 132 16);
  --nav-font-border-color: rgb(107, 100, 0);
  --nav-transition: 0.5s ease;
  --btn-transition: 0.35s ease;
  --btn-bg-color: rgb(165 115 54);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.page-layout {
  position: relative;
  min-height: 100vh;
  width: 100%;
  /* overflow-x: hidden; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

.section-title {
  font-size: calc(15px + 1vw);
  font-family: "Roboto", sans-serif;
  color: var(--secondary-font-color);
  margin-bottom: 80px;
  text-align: center;
}

.container {
  margin: 0 auto;
  /* max-width: 1920px; */
}

main.page-content {
}

.page-section {
  position: relative;
  padding: 100px 0;
}

/* Преимущества компании */

.company-advantages {
  padding: 30px 0;
  background: var(--secondary-color);
}

.company-advantages h3 {
  margin-bottom: 30px !important;
}

.company-advantages-container {
  display: flex;
  justify-content: center;
  gap: calc(var(--index) * 5);
  padding: 0 30px;
}

.company__advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  text-align: center;
}

.company__advantage img {
  height: calc(var(--index) * 3);
  max-height: 250px;
  width: auto;
}

.company__advantage span {
  display: block;
  font-size: calc(15px + 0.4vw);
  font-weight: 200;
  margin-top: 5px;
}

.section__underline {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  margin: 20px auto 0 auto;
  background: rgb(134, 134, 134);
  border-radius: 50%;
}

/* О комапании */

.about-company {
  background: var(--secondary-color);
}

.about-company h3 {
  text-align: start;
  margin-bottom: 40px;
  margin-left: 80px;
}

.about-company__company-description {
  margin: 0 105px;
  font-size: calc(15px + 0.5vw);
}

/* Дрова */

.wood {
  /* padding: 0 200px; */
  background: var(--primary-color);
}

.wood-container {
  display: flex;
  justify-content: center;
  /* gap: calc(var(--index) * 5); */
  flex-wrap: wrap;
}

.wood__img {
  height: calc(var(--index) * 15);
  box-shadow: 0 5px 18px rgb(117, 117, 117);
  border-radius: 10px;
  border: 5px solid var(--tertiary-color);
}

.wood-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  /* margin-top: 30px; */
}

.wood__description {
  display: block;
  font-size: calc(15px + 0.5vw);
  text-shadow: 0 0px 1px rgb(187, 187, 187);
  margin-left: 100px;
}

.buy-wood-button {
  font-size: calc(15px + 0.8vw);
  font-weight: 300;
  color: var(--btn-bg-color);
  /* color: rgb(179 153 84); */
  margin-top: 30px;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid var(--btn-bg-color);
  border-radius: 10px;
  transition: var(--btn-transition);
  cursor: pointer;
}

.buy-wood-button:hover {
  background: var(--btn-bg-color);
  /* background: rgb(193 163 84); */
  color: var(--primary-color);
  transition: var(--btn-transition);
}

.section-scew {
  height: 50px;
  width: 100%;
}

/* Древесеные изделия */

.wood-products {
  background: var(--secondary-color);
}

/* Слайдер */

.carousel-3d {
  padding: 20px;
  -webkit-perspective: 500px;
  perspective: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.carousel-3d > * {
  flex: 0 0 auto;
}
.carousel-3d figure {
  margin: 0;
  width: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel-3d figure img,
.carousel-3d figure div {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
.carousel-3d figure img {
  height: 400px;
  width: auto;
  user-select: none;
  border: 5px solid var(--tertiary-color);
}
.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel-3d nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.carousel-3d nav button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #337ab7;
  background: #bfe2ff;
  border: 1px solid #337ab7;
  padding: 5px 10px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.carousel-3d nav button:hover {
  color: #fff;
  background: #337ab7;
}

/* Конец слайдера */

/* Как заказать */

.about-order {
  background: var(--primary-color);
}

.about-order-container {
  /* display: block; */
}

.about-order-order-stages {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: calc(var(--index) * 3);
}

.order__stage {
  position: relative;
  display: block;
  /* background: #e7d9cd; */
  background: #f7f7f7;
  max-height: 250px;
  max-width: 360px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 8px grey, 0 7px 24px grey;
}

.stage__number {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  top: -12px;
  left: -12px;
  font-size: 18px;
  font-weight: 600;
  background: var(--btn-bg-color);
  border-radius: 50%;
}

.order__stage p:nth-child(2) {
  font-weight: 600;
  font-size: calc(15px + 0.3vw);
  margin-bottom: 10px;
}

.order__stage p {
  font-size: calc(15px + 0.2vw);
}

/* Футер */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  font-size: calc(15px + 0.3vw);
  color: var(--nav-font-color);
  background: var(--tertiary-color);
}

.copyright {
}

@media screen and (max-width: 1024px) {
  .wood__description {
    max-width: 650px;
    width: 100%;
    margin-left: 0;
  }
}
