/* Контакты */

.contacts {
  background: var(--primary-color);
}

.contacts-container {
  padding: 20px 0;
}

.contacts__email,
.contacts__telephone,
.contacts__adress {
  display: block;
  font-size: calc(15px + 0.3vw);
  margin-left: 50px;
}

.contacts__email {
  margin-bottom: 20px;
}
.contacts__telephone {
  margin-bottom: 20px;
}
