/* Преимущества компании */

.company-advantages {
  position: relative;
  padding-top: 30px;
  padding-bottom: 0;
  background: var(--secondary-color);
}

.company-advantages h3 {
  margin-bottom: 30px !important;
}

.company-advantages-container {
  display: flex;
  justify-content: center;
  gap: calc(var(--index) * 5);
  padding: 0 30px;
  flex-wrap: wrap;
}

.company__advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  text-align: center;
}

.company__advantage img {
  height: calc(var(--index) * 3);
  max-height: 250px;
  width: auto;
}

.company__advantage span {
  display: block;
  font-size: calc(15px + 0.2vw);
  font-weight: 400;
  margin-top: 5px;
}

.section-scew {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.advantage-scew {
  max-height: 240px;
}

/* О комапании */

.about-company {
  background: var(--secondary-color);
}

.about-company h2 {
  text-align: start;
  margin-bottom: 40px;
  margin-left: 80px;
}

.about-company__company-description {
  font-size: calc(15px + 0.5vw);
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 105px;
}

/* Дрова */

.wood {
  padding: 150px 0 50px 0;
  background: var(--primary-color);
}

.wood-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.wood__img {
  position: relative;
}

.wood__img img {
  position: relative;
  display: block;
  height: calc(var(--index) * 18);
  padding-right: 70px;
  z-index: 999;
}

.wood-shadow {
  content: "";
  position: absolute;
  width: 350px;
  height: 0;
  left: calc(50% - 200px);
  bottom: -20px;
  box-shadow: 0 0 70px 15px black;
  z-index: 99;
}

.wood-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
}

.wood__description {
  display: block;
  font-size: calc(15px + 0.5vw);
  font-weight: 400;
  line-height: 1.5em;
  text-shadow: 0 0px 1px rgb(187, 187, 187);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.buy-wood__button {
  font-size: calc(15px + 0.8vw);
  font-weight: 300;
  color: var(--btn-bg-color);
  /* color: rgb(179 153 84); */
  margin-top: 30px;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid var(--btn-bg-color);
  border-radius: 10px;
  transition: var(--btn-transition);
  cursor: pointer;
}

.buy-wood__button:hover {
  background: var(--btn-bg-color);
  /* background: rgb(193 163 84); */
  color: var(--primary-color);
  transition: var(--btn-transition);
}

/* Древесеные изделия */

.wood-products {
  padding: 180px 0 150px 0;
  background: var(--secondary-color);
}

.wood-products-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
}

.wood-product-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
}

.wood-product__img {
  height: calc(var(--index) * 15);
  box-shadow: 0 5px 18px rgb(117, 117, 117);
  border-radius: 10px;
  border: 5px solid var(--tertiary-color);
  z-index: 999;
}

.wood-product__description {
  display: block;
  font-family: "Montserrat";
  /* font-family: SF Pro Display; */
  /* font-weight: 300; */
  font-size: calc(15px + 0.5vw);
  line-height: 1.5em;
  text-shadow: 0 0px 1px rgb(187, 187, 187);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.wood-product__description ul {
  margin-top: 20px;
}

.buy-wood-product__button {
  font-size: calc(15px + 0.8vw);
  font-weight: 300;
  color: var(--btn-bg-color);
  /* color: rgb(179 153 84); */
  margin-top: 30px;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid var(--btn-bg-color);
  border-radius: 10px;
  transition: var(--btn-transition);
  cursor: pointer;
}

.buy-wood-product__button:hover {
  background: var(--btn-bg-color);
  /* background: rgb(193 163 84); */
  color: var(--primary-color);
  transition: var(--btn-transition);
}

.wood-products-top-scew {
  max-height: 300px;
  top: 0;
}

.wood-product-right-scew {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  /* width: 800px; */

  z-index: 0;
}

/* width="100%" height="100%" */
/* fill:#800000 */

/* Как заказать */

.about-order {
  background: var(--primary-color);
}

.about-order-order-stages {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: calc(var(--index) * 3);
}

.order__stage {
  position: relative;
  display: block;
  /* background: #e7d9cd; */
  background: #f7f7f7;
  max-height: 250px;
  max-width: 360px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 8px grey, 0 7px 24px grey;
}

.stage__number {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  height: 35px;
  width: 35px;
  top: -12px;
  left: -12px;

  /* background: var(--btn-bg-color); */
  background: var(--quaternary-color);
  border-radius: 50%;
}

.order__stage p:nth-child(2) {
  font-weight: 600;
  font-size: calc(15px + 0.3vw);
  margin-bottom: 10px;
}

.order__stage p {
  font-size: calc(15px + 0.2vw);
}
