.swiper {
  /* height: 100%; */
  height: 700px;
  /* width: 800px; */
  padding: 32px;
  color: #fff;
  user-select: none;
}

.slider-container {
  transform: rotate(35deg);
}

.swiper-wrapper {
  /* transform: rotate(35deg); */
}

.swiper-slide {
  /* transform: rotate(-35deg) !important; */
}

.wood-product__img {
}

.swiper-pagination {
}

.swiper-button-prev {
}

.swiper-button-next {
}
